/* index.css */

/* Common styles for all devices */
.right-tick-container {
    text-align: center;
    margin: 250px;
}

.right-tick {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    animation: spin 2s linear infinite; /* Add animation */
}

.orderconform {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
    margin-top: 20px;
}

/* Define animation keyframes */


/* Responsive styles */
@media (max-width: 768px) {
    .right-tick-container {
        margin: 100px;
    }

    .right-tick {
        width: 70px; /* Adjust width as needed */
    }

    .orderconform {
        font-size: 14px;
    }
}



