/* index.css */

.right-tick-container {
    text-align: center;
    margin: 250px;
}

.right-tick {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.orderconform {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
    margin-top: 20px;
}
